@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=LXGW+WenKai+Mono+TC&display=swap');

.lxgw-wenkai-mono-tc-regular {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: "LXGQ WenKai Mono TC", monospace;
}

body {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

/*Section 1*/

.section1 {
    background-color: #163b20;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 18px;
    gap: 18px;
    flex-wrap: wrap;
}

.logo {
    width: 50px;
    height: auto;
    border-radius: 50%;
    object-fit: fill;
}

.nav-header {
    color: #bda428;
}

.nav-header {
    font-size: 24px;
    font-family: "Baskervville SC", serif;
    margin-right: auto;
    flex-shrink: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.intro {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

.container1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    max-width: 450px;
}

h1 {
    color: #bda428;
}

.button1 {
    color: #F9FAF8;
    background-color: #bda428;
    padding: 6px 8px;
    border: none;
    border-radius: 3px;
}

.button1:hover {
    background-color: #caaf2a;
    cursor: pointer;
}

.intro-img {
    min-width: 300px;
    max-width: 450px;
    height: auto;
    border-radius: 3%;
    flex: 1 1 auto;
}

/* Section 2 Styling */
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px;
    gap: 40px;
}

.header2 {
    color: #163b20;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.container2 p {
    color: #163b20;
}

.text-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.thumbnail-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.thumbnail1 {
    width: 100%;
    height: auto;
    position: absolute;    
    object-fit: cover;
    top: calc(50% - 60%);
}

.thumbnail2, .thumbnail3, .thumbnail4 {
    width: auto;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.thumbnail2 {
    left: calc(50% - 80%);
}

.thumbnail3 {
    left: calc(50% - 105%);
}

.thumbnail4 {
    left: calc(50% - 85%);
}