@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=LXGW+WenKai+Mono+TC&display=swap');

.lxgw-wenkai-mono-tc-regular {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
* {
    margin: 0;
    padding: 0;
    font-family: "LXGQ WenKai Mono TC", monospace;
}

body {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

/*Section 1*/

.section1 {
    background-color: #163b20;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.logo {
    width: 50px;
    height: auto;
    border-radius: 50%;
    object-fit: fill;
}

.nav-links, .nav-header {
    color: #bda428;
}

.nav-header {
    font-size: 24px;
    font-family: "Baskervville SC", serif;
}